@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: blueviolet;
}

.wrap {
    width: 350px;
    height: 480px;
    margin: 65px auto;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

#display {
    border: none;
    outline: none;
    width: 330px;
    height: 80px;
    color: #5e5858;
    font-size: 58px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    background-color: tomato;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.buttons-box {
    margin: 35px 15px;
}

.btn {
    width: 60px;
    height: 60px;
    margin: 8px;
    border: none;
    color: #5e5858;
    outline: none;
    cursor: pointer;
    font-size: 28px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #ecedef;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.cbtn,
.cbtn:hover {
    background-color: red;
    color: white;
}

.mbtn,
.mbtn:hover {
    background-color: tomato;
    color: white;
}